@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
  box-sizing: border-box;
}

:root {
  font-family: Lora, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: medium;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-gray: #0000004a;
  --gray: #0000009e;
  --black: black;
  --shadow-shade: rgb(0,0,0,.12);
  --shadow: 0 2px 5px 0 var(--shadow-shade), 0 2px 10px 0 var(--shadow-shade);

  --primary: #2d84d0;
  --secondary: #e55918;
  --tertiary: #d5b605;
  
  --accent: #060101;
  --reference: #0073ff;
  --reference-hover: #0055be;
  --dark: #424242;
}


#root{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 4rem;
  width: 100%;
}

h2{
  font-size: 2rem;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  width: 100%;
  font-weight: 700;
}

h3{
  font-size: 1.5rem;
  text-align: left;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 550;
}

h4{
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
}

hr{
  border: 0;
  border-top: 1px solid var(--light-gray);
  width: 100%;
  margin: 0.5rem;
}

a{
  text-decoration: none;
  color: var(--reference);
}
a:hover{
  color: var(--reference-hover)
}

p{
  width: 100%;
}

img{
  width: 100%;
}

ul{
  margin-bottom: 0
}

ol > li::marker {
  font-weight: bold;
}


.container {
  display: flex;
  margin: 50px;
  column-gap: 20px;
}

.center{
  text-align: center;
}

.no-gutter-top{
  margin-top: 0.25rem;
}

.solution{
  color: var(--tertiary);
}

.katex .vlist-t2{
  margin-right: 0!important;
}


/* Latex */
.katex-display{
  overflow-x: scroll;
  overflow-y: hidden;
  max-width: 95vw;
  /* padding: 0.5rem 0; */
}

.katex-display::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.katex-display::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
  /* border: 1px solid #cacaca; */
}

.katex-display::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color:#cacaca;
}

@media only screen  and (max-width: 620px) {
  :root {
    font-size:smaller;
  }

  .katex-display {
    font-size: 1em;
  }
}
